/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
    display:inline;
}

/* Import partials from `sass_dir` (defaults to `_sass`) */
@import "syntax";
@import "starsnonscss";

/* Set Segoe UI font for all elements */
* {
    font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

/* Set black background and Segoe UI font for the entire website */
body {
    background-color: #ffffff;
    /* Remove the font-family declaration here since it's now handled by the universal selector */
    color: #000000;
}

/* Navigation styling */
.navbar {
    background-color: #031C1B !important;
}

.navbar .nav-link {
    color: #ffffff  !important;
}

.navbar .nav-link:hover {
    color: #ffffff !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-light .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}
