/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
    display:inline;
}

/* Import partials from `sass_dir` (defaults to `_sass`) */
@import "syntax";
@import "starsnonscss";

/* Set Segoe UI font for all elements */
* {
    font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

/* Set black background and Segoe UI font for the entire website */
body {
    background-color: #ffffff;
    /* Remove the font-family declaration here since it's now handled by the universal selector */
    color: #000000;
}

/* Navigation styling */
.navbar {
    background-color: #031C1B !important;
}

.navbar .nav-link {
    color: #ffffff  !important;
}

.navbar .nav-link:hover {
    color: #ffffff !important;
}
